<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:head>
        
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        
        <link rel="stylesheet" href="main.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>     
        <title>Reusable Cali</title>
    </h:head>  
    
    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #95e6b5;">
        <a class="navabar-brand nav-link" href="#">        
            Inicio 
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="nacbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active"> <a class="nav-link" href="#">Home</a> </li>
            <li class="nav-item "> <a class="nav-link" href="#">Nosotros</a> </li>
            <li class="nav-item "> <a class="nav-link" href="#">Tips</a> </li>           
          </ul>
        </div>
    </nav>
    
    <h:body>
        
    </h:body>
    
    <br/><br/><br/>
    
    
    <footer class="pt-2" style="background: #b9f6ca;" >    
        <div class="container-fluid text-center text-md-left">
            
            <div class="row mt-5">
                
                <div class="col-sm-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase">Prisma Web Development</h5>
                    <p> Empresa desarolladora de software rediacada en Cali, Colombia </p>

                </div>
                
                
                <div class="col-sm-3">
                    <h5 class="text-uppercase">Redes sociales</h5>
                    <ul class="list-unstyled">
                        <li> <a href="https://www.facebook.com" class="alert-link"> Facebook </a></li>
                        <li> <a href="https://www.youtube.com" class="alert-link">Youtube </a></li>
                        <li> <a href="https://twitter.com/?lang=es" class="alert-link" >Twitter </a> </li>
                    </ul>    
                    
                </div>
                
                <div class="col-sm-3">
                    <h5 class="text-uppercase">Datos de contacto</h5>
                    <ul class="list-unstyled"> 
                        <li> <a href="#" class="alert-link">Quienes somos</a> </li>
                        <li> <a href="#" class="alert-link">Contactos</a> </li>
                    </ul>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md footer-copyright text-center py-3">
                    <p> Prisma Web Development - Copyright © 2020 </p>
                </div>
            </div>
        </div>    
    </footer>
</html>

